/* Basic Styling */
body {
  font-family: 'Liter', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Container for layout */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Logo Styling */
header {
  margin-top: 5vh;  /* Space from top */
}

.logo {
  width: 400px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 3em; /* Space below logo */
}

/* Event Details Card Styling */
.event-card {
  position: relative;
  background-color: #111;
  padding: 20px;
  text-align: center;
  margin-bottom: 2em;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(209, 244, 255, 0.4);
  /* Remove the border-radius */
}

.event-card::before {
  content: ''; 
  position: absolute; 
  top: -2px;  
  left: -2px;  
  right: -2px; 
  bottom: -2px; 
  background: linear-gradient(135deg, #FF00FF, #FF8E00); /* The gradient */
  z-index: -1; /* Places the gradient outline behind the card */
  /* Removed the border-radius here too */
}


.event-details p {
  color: #fff;
}

.event-date {
  font-size: 2em;
  font-weight: 800;
  color: #D1F4FF;
}

.event-time {
  font-size: 1.2em;
  margin-top: 5px;
}

.event-address {
  font-size: 1.1em;
  color: #fff;
}

.event-address a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  font-weight: 800;
  transition: color 0.3s, border-color 0.3s;
}

.event-address a:hover {
  color: #D1F4FF;
}


/* Description Styling */
.description {
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.0em;
  line-height: 1.8em;
}

h2 span.highlight {
  font-weight: bold;
  background-color: #D1F4FF;
  color: #000;
  border-radius: 4px; /* Slightly rounded corners */
  padding: 2px 4px; /* Small left-right padding */
}

p span.highlight {
  font-weight: bold;
  background-color: #D1F4FF;
  color: #000;
  border-radius: 4px; /* Slightly rounded corners */
  padding: 2px 4px; /* Small left-right padding */
}

.description a {
  color: #D1F4FF;
  font-weight: 600;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

/* Footer Styling */
footer {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 0.8em;
  font-weight: 800;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: color 0.3s, border-color 0.3s;
}

footer a:hover {
  color: #D1F4FF;
}

/* Responsive Layout */
@media (max-width: 768px) {
  /* Adjust Logo Size for Mobile */
  .logo {
    width: 70%;
  }

  .event-details p {
    font-size: 1.2em;
  }

  .description {
    font-size: 1em;
  }

  footer a {
    font-size: 0.9em;
  }
}
